{% extends 'base.html' %}

{% load static %}

{% block title %}Edit post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'topics' post.topic.board.id %}">{{ post.topic.board.name }}</a></li>
  <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'post_topic' post.topic.board.id post.topic.id %}">{{ post.topic.subject }}</a></li>
  <li class="breadcrumb-item active">Edit post</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'post_topic' post.topic.board.id post.topic.id %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    tinymce.init({
      selector: '#editor',
      plugins: "insertdatetime media image preview",
      toolbar: "undo redo |  bold italic | alignleft alignright aligncenter alignjustify | image media | preview",
      image_title: true,
      image_caption: true,
      automatic_uploads: true,
      image_advtab: true,
      file_picker_types: "image media",
      file_picker_callback: (cb, value, meta) => {
    const input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    input.addEventListener('change', (e) => {
      const file = e.target.files[0];

      const reader = new FileReader();
      reader.addEventListener('load', () => {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        const id = 'blobid' + (new Date()).getTime();
        const blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        const base64 = reader.result.split(',')[1];
        const blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      });
      reader.readAsDataURL(file);
    });

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
});
  </script>
{% endblock %}