{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'topics' board.id %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'form.html' %}
  <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}