{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    Topics
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item fw-bold"><a class="text-decoration-none" href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_topic' board.id %}" class="btn btn-primary">New topic</a>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Topic</th>
                <th>Starter</th>
                <th>Replies</th>
                <th>Views</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
                <tr>
                    <td><a class="text-decoration-none fw-bold" href="{% url 'post_topic' board.id topic.id %}">{{ topic.subject }}</a></td>
                    <td>{{ topic.starter.username }}</td>
                    <td>{{ topic.replies }}</td>
                    <td>{{ topic.views }}</td>
                    <td>{{ topic.last_updated | naturaltime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
{% endblock %}